
/*Shortcuts*/
.lyrics-ruby {
  display: inline-block;
  direction: ltr;
}

/*Tags*/
span-lyrics {
  * {--base-font-size: 3.7vw;}
  display: block;
  bottom: 0px;
  right: 0px;
  margin: 9vh 6vw;
  padding: 0px 0px;
  font-weight: 600;
  font-family: "BIZ UDGothic";
  color: white;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
  &.done {
    color: var(--lyrics-color);
    text-shadow: .1vw .1vw 0.4vw rgba(0,0,0,1);
    margin: 0px 0px;
    padding: 9vh 6vw;
  }
}

/*Built-in Tags*/
ruby > rt {--font-scale: 0.55;}
