<!DOCTYPE html>
<html lang="en-GB">
<head>
<title>Automate</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../css/endmedia.css" />
<link rel="stylesheet" type="text/css" href="../../endfw/vue/layout.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orychung/endfw@0.5.1/vue/control.css" />
<script src="https://cdn.jsdelivr.net/npm/jsmediatags@3.8/dist/jsmediatags.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/orychung/endfw@0.5.1/lib/jquery.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/orychung/endfw@0.5.1/lib/vue.global.prod.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/orychung/endfw@0.5.1/common/builtin.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/orychung/endfw@0.5.1/common/global.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/orychung/endfw@0.5.1/common/promise.js"></script>
<script type="text/javascript" src="../../endfw/client/canvas.js"></script>
<script type="text/javascript" src="../../endfw/client/music.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/orychung/endfw@0.5.1/client/shortcuts.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/orychung/endfw@0.5.1/client/quick_vue.js"></script>
<style>
box {
  display: flex;
  gap: 0px;
}
box.performer {
  font-size: 12px;
  max-width: 200px;
}
img.thumbnail {
  width: calc(80px / var(--device-pixel-ratio));
}
vueTemplate {
  display: none;
}
</style>
<script type="text/javascript" id="method">
Object.assign(Vue.endAddOn.commonMethods, {
  async testInit() {
    await http.get('/dev/loadDynamic');
    await http.get('/metadata/init');
  },
  changeLibrary() {
    //TODO: define share-able UI for quick input
  },
});
</script>
<script type="text/javascript" id="model">
g.debug = {};
g.audio = {ctx: new AudioContext()};
g.audioBuffer = new MusicalBuffer(g.audio.ctx);
g.audioPlayer = {
  history: [],
  donePlay(type) {
    this.currentPlay?.fire(type);
    delete this.currentPlay;
  },
  async playMediaFile(mediaFile, ...args) {
    await mediaFile.load();
    this.history.push(mediaFile);
    g.audioBuffer.stop();
    this.donePlay('stopped');
    await g.audioBuffer.load(mediaFile.data.slice());
    g.audioBuffer.restart(...args);
    this.currentPlay = triggerFactory();
    await this.currentPlay;
  },
  playNext() {
    let candidateMap = g.ui.fileGrid.data.mapObject();
    g.audioPlayer.history.forEach(x=>{delete candidateMap[x];});
    let candidates = Object.keys(candidateMap);
    let selected = candidates[Math.floor(Math.random()*candidates.length)];
    g.ui.fileGrid.data[selected].start();
  },
};
g.audioBuffer.addEventListener('ended', e=>{
  g.audioPlayer.donePlay('ended');
  g.audioPlayer.playNext();
});

g.loadedQueue = Array(0);
g.loadedQueue.push = function push(file) {
  const KEEP_SIZE = 3;
  let foundIndex = this.indexOf(file);
  if (foundIndex > -1) this.splice(foundIndex,1);
  Array.prototype.push.call(this, file);
  let unloadList = this.splice(0, this.length - KEEP_SIZE);
  unloadList.forEach(x=>delete x.data);
}
class MediaFile {
  constructor(...args) {
    Object.assign(this, ...args);
  }
  async load() {
    if (this.data == undefined)
      this.data = await http.post.asBinary('/mediaFile/readFile', {library: this.library, path: this.path});
    g.loadedQueue.push(this);
    return this;
  }
  async loadAudio(audioBuffer) {
  }
  async register() {
    let tags = (await this.mediaTags()).tags; //TODO: wrap this in try block
    all.files[this.path] = {
      path: this.path,
      title: tags.title,
      performer: tags.artist,
      year: tags.TDRC?.data,
      album: tags.album,
      'track#': tags.track?.split('/')?.[0],
    };
    
    if (tags.picture) {
      const THUMBNAIL_SIZE = 80;
      let blob = new Blob([new Uint8Array(tags.picture.data)],{type: tags.picture.format});
      let url = URL.createObjectURL(blob);
      let canvas = document.createElement('canvas');
      g.debug.canvas = canvas;
      await canvas.loadFile(url, {
        height: THUMBNAIL_SIZE,
        width: THUMBNAIL_SIZE,
      });
      all.thumbnails[this.path] = {
        path: this.path,
        dataURL: canvas.toDataURL('image/jpeg', 0.99),
      };
      await http.post('/metadata/thumbnails', {dataset: {
        [this.path]: all.thumbnails[this.path],
      }});
    }
    
    await http.post('/metadata/files', {dataset: {
      [this.path]: all.files[this.path],
    }});
  }
  async start(...args) {
    g.audioPlayer.playMediaFile(this, ...args);
  }
  async mediaTags() {
    await this.load();
    let c = triggerFactory();
    window.jsmediatags.read(new Blob([this.data]),{
      onSuccess:(tags)=>c.fire(tags),
      onError:(e)=>c.cancel(e)
    });
    return c.promise;
  }
}
</script>
<script type="text/javascript" id="main">
async function initPage() {
  globalThis.all = g;
  g.ui = {
    themeFaceHue: 120,
    current: {},
  };

  //await Vue.endAddOn.loadTemplateURLs('https://cdn.jsdelivr.net/gh/orychung/endfw@0.5.1/vue/control.xml');
  await Vue.endAddOn.loadTemplateURLs('../../endfw/vue/control.xml');
  Vue.endAddOn.templates = Vue.endAddOn.templates.concat(Array.from($('vueTemplate')));
  Vue.endAddOn.createApp({
    mountSelectors: ['#screen'],
  });

  initData();
}

async function initData() {
  await http.get('/metadata/init');
  g.settings = await http.get('/metadata/settings');
  g.thumbnails = await http.get('/metadata/thumbnails');
  g.files = await http.get('/metadata/files');
  g.metadata = await http.get('/metadata/metadata');
  g.libraries = {};
  let libraryList = await http.get('/metadata/listLibrary');
  for await (const x of
    libraryList.map(async x=>[
      x,
      await http.post('/metadata/listFiles', {library: x})
    ])
  ) {
    all.libraries[x[0]] = {
      path: x[0],
      files: x[1].mapObject(file=>new MediaFile(file, {library: x[0]})),
    };
  }
  if (libraryList.length) all.ui.current.library = libraryList[0];
  all.ui.fileGrid = {
    filter: {
      path: d=>{
        if (!all.ui.fileGrid.filterPath) return true;
        return d.path.includes(all.ui.fileGrid.filterPath);
      },
    },
    sorting: {},
    columns: [
      { heading: '🖼', template: 't-media-thumbnail' },
      { heading: 'Path', display: d=>d.path },
      { heading: 'Performer', display: d=>all.files[d.path]?.performer, 'class': 'performer' },
      { heading: 'Actions', template: 't-media-actions' },
    ],
    data: all.libraries[all.ui.current.library].files,
  };
}

</script>
</head>
<vueTemplates>
  <vueTemplate id="t-media-thumbnail">
    <img v-for="img in [all.thumbnails[od.row.path]].filter(x=>x)"
      :src='img.dataURL' class="thumbnail"></img>
  </vueTemplate>
  <vueTemplate id="t-media-actions">
    <button @click="od.row.start()">Play</button>
    <button v-if="!(od.row.path in all.files)" @click="od.row.register()">Register</button>
    <button v-if="(od.row.path in all.files)" @click="all.files[od.row.path].logThis;">Log Info</button>
  </vueTemplate>
</vueTemplates>
<body onload="initPage()">
<flex-layout id="screen" class="row flex-stretch full-size">
  <flex-layout class="col vscroll tool">
    <button @click="testInit">Re-Init</button>
    <button @click="changeLibrary">Change Library</button>
    <button @click="all.audioBuffer.stop()">Stop Player</button>
  </flex-layout>
  <flex-layout class="col vscroll flex-remain">
    <div v-if="all.ui.fileGrid">
      <span>
        <label for="pathFilter">Path Filter</label>
        <input id="pathFilter" type="text" v-model="all.ui.fileGrid.filterPath"></input>
      </span>
      <t-list-grid :od="all.ui.fileGrid" :all="all"></t-list-grid>
    </div>
  </flex-layout>
  <screen-layer style="--base-z-index:20;">
    <t-cover :all="all"></t-cover>
    <t-contextmenu :all="all" :w="all.ui.contextmenus"></t-contextmenu>
  </screen-layer>
</flex-layout>
</body>
<script type="text/javascript" id="script-after-body">
document.body.style.setProperty('--device-pixel-ratio', devicePixelRatio);
window.addEventListener('resize',e=>{
  document.body.style.setProperty('--device-pixel-ratio', devicePixelRatio);
});
</script>
</html>
