* {
  box-sizing: border-box;
  position: relative;
  outline: none;
  --font-scale: 1;
  font-size: calc(var(--base-font-size, font-size) * var(--font-scale));
}
:root {
  --base-font-size: 14px;
  --theme-fore: #444;
  --theme-back: #DDD;
}

/*Shortcuts*/
.absolute {
  position: absolute;
}

/*Builtin Tags*/
button {
  font-weight: bold;
  color: var(--theme-back);
  background: var(--theme-fore);
  border: 0px;
  margin: 2px;
  padding: 8px;
  border-radius: 5px;
}